.sb_wrapper{
	margin:0;
	padding:0;
	position: absolute;
	top:80px;
	width:372px;
}
.sb_wrapper input[type="text"],
ul.sb_dropdown{
	border:1px solid #fff;
	background: #fafafa; 
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#fafafa)); 
	background: -moz-linear-gradient(top, #f2f2f2, #fafafa);
	font-size:24px;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	padding:6px 5px 6px 20px;
	text-shadow:1px 1px 1px #fff;
	float:left;
	margin:3px 0px;
	border-radius: 100px;
	 width: 100%;
}
ul.sb_dropdown{
	float:left;
	list-style:none;
	width:360px;
	padding:6px 5px;
	-moz-border-radius:0px 0px 10px 10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:0px !important;	
	border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
	-webkit-border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    margin-top: -5px;
	list-style:none;
	
}
ul.sb_dropdown li{
	font-size:16px;
	line-height:32px;
	height:32px;
	float:left;
	width:50%;
}
ul.sb_dropdown li input[type="checkbox"]{
	float:left;
	margin:10px 4px 0 5px;
}
ul.sb_dropdown li.sb_filter{
	width:348px;
	border:1px solid #f9f9f9;
	clear:both;
	background: #ddd;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#444;
	height:16px;
	line-height:16px;
	padding:5px;
	-moz-box-shadow:0px 0px 2px #777;
	-webkit-box-shadow:0px 0px 3px #555 inset;
	-box-shadow:0px 0px 3px #555 inset;

}
span.sb_up,
span.sb_down{
	position:absolute;
	top:3px;
	left: 290px;
	width:14px;
	height:42px;
	background-position:center center;
	background-repeat: no-repeat;
	z-index:10;
	-moz-box-shadow:1px 0px 1px #ddd;
	-webkit-box-shadow:1px 0px 1px #ddd;
	-box-shadow:1px 0px 1px #ddd;
	
}
span.sb_up{
	background-image:url(../icons/up.png);
	cursor:pointer;
}
span.sb_down{
	background-image:url(../icons/down.png);
	cursor:pointer;
}
input.sb_search{
	background:url(../icons/search.png) no-repeat center center;
	height:43px;
	width:50px;
	float:left;
	margin-left: -65px;
	margin-top: 3px;
	margin-bottom: 0;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	cursor:pointer;
}
input.sb_search:hover{
	background:url(../icons/search.png) no-repeat center center;
	height:43px;
	width:50px;
	float:left;
	margin-left: -65px;
	margin-top: 3px;
	margin-bottom: 0;
	-moz-box-shadow:1px 1px 3px #555;
	-webkit-box-shadow:1px 1px 3px #555;
	-box-shadow:1px 1px 3px #555;
	outline:none;
	cursor:pointer;
}
.kb
{
	float: left; margin-top: 50px;
}
.kb ul
{
	list-style:none;
}
.kb ul li span .foldericon
{
	display: block;
    float: left;
    height: 32px;
    margin-right: 6px;
    width: 32px;
}
 span.reference{
                position:fixed;
                left:10px;
                bottom:10px;
                font-size:11px;
            }
            span.reference a{
                color:#fff;
                text-decoration:none;
                text-transform: uppercase;
                text-shadow:0 1px 0 #000;
            }
            span.reference a:hover{
                color:#f0f0f0;
            }
            .box{
                margin:129px auto 0 auto;
                height:430px;
                width:100%;
                position:relative;
                -moz-box-shadow:0px 0px 5px #444;
                -webkit-box-shadow:0px 0px 5px #444;
                box-shadow:0px 0px 5px #444;
                background:#1783BF url(click.png) no-repeat 380px 80px;
            }
            .box h2{
				background-color:#1275AD;
				border-color:#0E5A85 #0E5A85 #0E5A85;
				border-style:ridge ridge solid;
				border-width:1px;
				color:#FFFFFF;
				font-size:22px;
				padding:10px;
				text-shadow:1px 1px 1px #000000;
            }
			.entry-header h1{
                position:absolute;
                top:-25px;
                left:-20px;
                white-space: nowrap;
            }
 .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }			